<div class="container">
    <h1><%= title %></h1>
<p>Here is a picture of me, and what I drive!
    I like technology, astronomy, food and cars.
    <img src="./content/images/car.jpg " class="rounded float-left" width="200" length="200" alt="Car picture">
<img src="./content/images/pic.jpg" class="rounded float-left" width="200" length="200" alt="selfie"> 
</p>
</div>
<!-- I would like not to do this part but here should be the code  <a href="myresume.pdf" download="resume"></a>Download my resume</a> --!>





