<div class="container">
    <h1><%= title %></h1>

    <p>I offer coding services, knowledgable in C#, Java, HTML/CSS, and SQL</p>
    
    <img src="./content/images/code.jpg" class="rounded float-right" width="600" length="600" alt="Favorite Brands">


</div>